<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <!-- dont check for revoked certs (this will be run on machines with no internet connection, so will time out after 15 secs unless this line is in) -->
    <generatePublisherEvidence enabled="false"/>
  </runtime>
</configuration>